<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Book Added</title>
</head>
<body>

<h1>Book Added Successfully!</h1>

<p><strong><%= title %></strong> has been added to the database.</p>

<p><a href="/list">See all books</a></p>
<p><a href="/addbook">Add another book</a></p>

</body>
</html>
