<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Search Bertie's Books</title>
</head>
<body>
  <h1>Search Bertie's Books</h1>

  <form action="/books/search-result" method="get">
    <p>What book do you want?</p>
    <input type="text" name="keyword" />
    <button type="submit">Search</button>
  </form>

  <p><a href="/books/list">Back to all books</a></p>
</body>
</html>
